body{
    overflow-x:hidden;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.adv-wrapper {
    background: #444;
    width: 100%;
    height: 40px;
    z-index: 9999;
}

.adv-wrapper .adv-wrapper-text {
    display: block;
    padding-top: 13px;
    font-size: 13px;
    font-family: "SF Pro Text", "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255 255 255);
    text-align: center;
  
}

nav{
    /* position: absolute;
    top: 0;
    right: 0;
    left: 0; */
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgba(0,0,0,0.92);
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar__list{
    display: flex;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar__item{
    
    font-size: 12px;
    line-height: 3.66667;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #f5f5f7;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 8px;
    height: 44px;
    opacity: .8;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline-offset: -7px;
}



.ac-gn-link-apple {
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/ac/globalnav/7/uk_UA/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__b5er5ngrzxqq_large.svg);
    background-position: center center;
    width: 14px;
}

.ac-gn-link-search {
    background-size: 15px 88px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/ac/globalnav/7/uk_UA/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg);
    background-position: center center;
    width: 15px;
    background-position: 0px 0;
}

.chapternav {
    background: rgb(251 251 253);
    background: rgb(245 245 247 / 70%);
    padding: 3px 0;
    text-align: center;
    height: 100px;
    z-index: 9987;
    --chapternav-paddle-width: 34px;
    --chapternav-paddle-chevron-color: rgb(29 29 31);
    --chapternav-border-color: rgb(210 210 215);
    --chapternav-paddle-opacity: 0.8;
    --chapternav-paddle-hover-opacity: 1;
    --chapternav-paddle-hover-duration: 200ms;
    --chapternav-paddle-fade-duration: 150ms;
    --chapternav-paddle-horizontal-offset: -0.5px;
    --chapternav-border-width: 1px;
    --chapternav-safearea-offset: -10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    
}

.chapternav-wrapper {
    position: relative;
    height: 100%;
    z-index: 1;
}

.chapternav-items {
    margin: 0 var(--chapternav-paddle-width);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    list-style: none;
    padding-bottom: 50px;
}

.chapternav-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 -0.1176470588em;
    padding: 0 20px;
    
    
}

.chapternav-item a {
    color: rgb(29 29 31);
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
    
}

.chapternav-icon {
    background: bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height: 54px;
    
    
}

.chapternav-item--iphone-14-pro{
    background-size: 40px 54px;
    background-repeat: no-repeat;
    width: 40px;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/chapternav/iphone_14_pro_light__dfhcc00ur2oi_large.svg);
}

.chapternav-item--iphone-14{
    background-size: 38px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/chapternav/iphone_14_light__fwknsxkf80uq_large.svg);
    width: 38px;
}

.chapternav-item--iphone-13{
    background-size: 36px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/chapternav/iphone_13_light__ewo3e0sf67o2_large.svg);
    width: 36px;
}

.chapternav-item--iphone-se {
    background-size: 19px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/chapternav/iphone_se_light__fhg8duy6ffau_large.svg);
    width: 19px;
}

.chapternav-item--iphone-12 {
    background-size: 22px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/chapternav/iphone_12_light__cxh2ll1zwpw2_large.svg);
    width: 22px;
}

.chapternav-item--compare{
    background-size: 45px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/chapternav/iphone_compare_light__f4jj7brpbvm2_large.svg);
    width: 45px;
}

.chapternav-item--airpods{
    background-size: 39px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/chapternav/airpods_light__8oj157p2476a_large.svg);
    width: 39px;
}

.chapternav-item--airtag {
    background-size: 30px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/chapternav/airtag_light__cb2bmnv6aoeu_large.svg);
    width: 30px;
}

.chapternav-label{
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: block;
    margin: 0;
}

.chapternav-new{
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.008em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(191 72 0);
    display: block;
}


section{

}

.theme-dark {
    background-color: rgb(0 0 0);
}

.collection__module {
    margin-left: auto;
    margin-right: auto;
}

.unit-copy-wrapper{
    padding-top: 148px;
    padding-bottom: 0;
    margin-bottom: 15px;
}

.headline{
    
    text-align: center;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.headline__14-pro{
    color: #fff;
}

.subhead{
    display: block;
    color: rgb(0 0 0 / 0%);
    -webkit-background-clip: text;
    padding-top: 0.5px;
    overflow: hidden;
    margin-top: 16px;
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    
}

.subhead__14-pro{
    background-image: linear-gradient(180deg,rgb(255 182 255),rgb(179 68 255));
    background-color: #ffb6ff 0%;
}

.cta-links{
    text-align: center;
    margin-top: 31px;
    margin-bottom: 43px;
    
}

.cta-links a{
    color: rgb(76, 51, 237);
}



.unit-image-iphone-14-pro{
    width: 782px;
    height: 542px;
    background-size: 782px 542px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/overview/hero/iphone_14_pro_hero__e4ivycyx40k2_large.jpg); 
}

.iphone-14{
    
    
}

.headline__14{
    color:  rgb(0, 0, 0);
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.subhead__14{
    color: rgb(0 0 0 / 0%);
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg,rgb(44 162 180),rgb(85 152 222) 24%,rgb(127 135 255) 45%,rgb(246 90 173) 76%,rgb(236 61 67));
    will-change: transform;
    padding-top: 0.5px;
    overflow: hidden;
}

.unit-image-iphone-14{
    width: 529px;
    height: 481px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(https://www.apple.com/ua/iphone/home/images/overview/hero/iphone_14_hero__ceub5xriecgi_medium.jpg);
}

.apple-watch{
    position: relative;
    height: 670px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   
    
}
.headline__apple-watch{
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    background-size: 190px 72px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/ay/images/logos/apple-watch-series-8/hero_logo_apple_watch_series_8__ezarmmoobhg2_medium.png);
    background-position: center;
    /* background-position: 50% 100%; */
}

.cta-links__apple-watch{
    margin-top: -15px;
}



.unit-image-apple-watch{
    height: 481px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url(https://www.apple.com/v/home/ay/images/heroes/apple-watch-series-8/hero_apple_watch_series_8__bjc1ok5mkjua_medium.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 70%;
}

.unit__wrapper{

    height: 830px;
}

.headline__se p {
    display: inline-block;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.headline__se p {
    border: 2px solid rgb(2, 2, 2);
    border-radius: 3px;
    font-size: 10px;

}

.subhead__se{
    background-image: linear-gradient(90deg,rgb(30 55 145) 0%,rgb(41 72 177) 40%,rgb(49 83 198) 55%,rgb(56 95 218) 60%);
    color: rgb(0 0 0 / 0%);
}

.unit-image-iphone__se{
    width: 282px;
    height: 468px;

    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/overview/hero/iphone_se_hero__gd586pazxqqa_medium.jpg);
    margin-left: auto;
    margin-right: auto;
}

.image-wrapper{
    min-height: 257px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 22px;
}

.swatch-wrapper{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

.section-compare {
    background-color: rgb(255 255 255);
    padding-top: 116px;
    padding-bottom: 119px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.section-content{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.typography-headline {
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
    text-align: center;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.compare-table {
    max-width: 940px;
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(9,auto);
    grid-row-gap: 40px;
    grid-column-gap: 34px;
    /* grid-template-areas:
        "iphone-14-pro-device iphone-14-device iphone-13-device iphone-se-device"
        "iphone-14-pro-display iphone-14-display iphone-13-display iphone-se-display"
        "iphone-14-pro-dynamic-island iphone-14-dynamic-island iphone-13-dynamic-island iphone-se-dynamic-island"
        "iphone-14-pro-sos iphone-14-sos iphone-13-sos iphone-se-sos"
        "iphone-14-pro-camera iphone-14-camera iphone-13-camera iphone-se-camera"
        "iphone-14-pro-battery iphone-14-battery iphone-13-battery iphone-se-battery"
        "iphone-14-pro-chip iphone-14-chip iphone-13-chip iphone-se-chip"
        "iphone-14-pro-authentication iphone-14-authentication iphone-13-authentication iphone-se-authentication"
        "iphone-14-pro-cellular iphone-14-cellular iphone-13-cellular iphone-se-cellular"; */
}

.image-compare-iphone-14-pro{
    width: 190px;
    height: 257px;
    background-size: 190px 257px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/overview/compare/compare_iphone_14_pro__cjmfbiggqhpy_large.jpg);
}

.image-swatch-iphone-14-pro{
    width: 68px;
    height: 14px;
    background-size: 68px 14px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/overview/compare/swatch_iphone_14_pro__c2bl98e0li4i_large.png);
}

.image-compare-iphone-14{
    width: 180px;
    height: 257px;
    background-size: 180px 257px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone/home/bj/images/overview/compare/compare_iphone_14__ct4sjk962pea_large.jpg);
}

.typography-body-reduced{
    
}

.hidden{
    display: none;
}